<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity android:name=".activity.ItemDetailActivity" />
        <activity android:name=".activity.ItemOverviewActivity"></activity>
        <activity android:name=".activity.FilterInventoryActivity" />
        <activity android:name=".activity.BagInventoryActivity" />

        <activity
            android:name=".activity.AddBagActivity"
            android:label="ADD BAG"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Inventory" />
        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Inventory" />
        <activity
            android:name=".activity.MainActivity"
            android:label="BAGS"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Inventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.Login" />
    </application>

</manifest>